// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
  background-color: #fafafa;
}
li {
  text-align:center;
}
form {
  height: 600;
}
